<h1>Ingresa con tus datos</h1>
<form action="/users/login" method="post">
    <input type="email" name="email" id="email" placeholder="email">
    <input type="password" name="password" id="password" placeholder="password">
    <input type="submit" value="Ingresar">
</form>

<h2>Ingresar con GitHub</h2>>
<button onclick="location.href='users/registroGitHub'">GitHub</button>

<h2>Usuario nuevo?</h2>
<button onclick="location.href='/registro'">Registrate!</button>

