<h2>Ingres치 tu correo electr칩nico y tu nueva contrase침a</h2>
<form action="/email/resetpassword?token={{token}}" method="post">
    <input type="email" name="email" id="email" placeholder="Ingresa tu email">
    <input type="password" name="password" id="password" placeholder="Ingresa tu nueva contrase침a">
    <input type="submit" value="ENVIAR">
</form>